.interior-trim__option {
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 600px) {
  .interior-trim__option {
    flex-direction: column;
  }
  
  .interior-trim__option-item-image {
    width: 50px;
  }
}