.main-billboard {
  /*position: relative;*/
  /*background-color: rgb(232, 235, 239);*/
}

.main-billboard__figure img {
  /*margin: 0;*/
  /*width: 100%;*/
  display: block;
  width: 100%;
}

/*.main-billboard__div {*/
  /*background-color: blue;*/
  /*opacity: 0.5;*/
  /*overflow: hidden;*/
/*}*/
.main-billboard__article {
  /*width: 80%;*/
  /*position: absolute;*/
  /*top: 10px;*/
  /*margin: 0 20px;*/
  /*padding: 1%;*/
  background-color: white;
  padding: 5%;
  padding-top: 0;
  font-size: 3.5vw;

  opacity: 0.8;
}

.main-billboard__anchor {
  display: block;
  text-decoration: none;
  background-color: dodgerblue;
  color: white;
  padding: 2% 3%;
  border-radius: 5px;
  text-align: center;
}

@media screen and (min-width: 800px) {
  .main-billboard {
    position: relative;
  }
  .main-billboard__article {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 5%;
    width: 30%;
    font-size: 1.7vw;
  }
  .section {
    padding: 0 5%;
  }
}