.main-billboard__figure img {
  display: block;
  width: 100%;
}

.main-billboard__article {
  background-color: white;
  padding: 5%;
  padding-top: 0;
  font-size: 3.5vw;
  opacity: 0.8;
}

.main-billboard__anchor {
  display: block;
  text-decoration: none;
  background-color: dodgerblue;
  color: white;
  padding: 2% 3%;
  border-radius: 5px;
  text-align: center;
}

@media screen and (min-width: 800px) {
  .main-billboard {
    position: relative;
  }
  .main-billboard__article {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 5%;
    width: 30%;
    font-size: 1.6vw;
  }
  .section {
    padding: 0 5%;
  }
}