.header {
  display: flex;
  flex-direction: row;
}

.header__logo {
  flex-basis: 30%;
  border-right: 1px solid lightgrey;
}

.header__logo img {
  width: 100%;
}

.header__nav {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header__nav-display {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid lightgrey;
}

.header__nav-display-call {
  background-color: mediumseagreen;
  padding: 1%;
  display: flex;
  align-items: center;
}
.header__nav-display-call a, .header__nav-display-call i  {
  color: white;
  display: flex;
  align-items: center;
  padding: 1%;
  font-size: 3vw;
}

.header__nav-vehicle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  /*border-top: 1px solid lightgrey;*/
}

.header__nav-vehicle a {
  color: black;
}

.header__nav-vehicle-hamburger {
  
}

.dropdown-menu {
  display: none;
}

.dropdown-menu.menu-drop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid lightgrey;
}

.dropdown-menu.menu-drop a {
  padding: 2% 1%;
  color: black;
  font-size: 3vw;
}


@media screen and (min-width: 800px) {
  .display {
    display: inline-block;
  }
  
  .material-icons.display-none {
    display: none;
  }
  
  .header__nav-display {
    font-size: 1.2vw;
  }
  
  .header__nav-display-a {
    display: flex;
    align-items: center;
    padding: 1%;
  }
  .header__nav-display-a a, .header__nav-display-a i {
    color: black;
    /*font-size: 1.2vw;*/
  }
  .header__nav-display-call a, .header__nav-display-call i {
    font-size: 1.2vw;
  }
  
  .header__nav-vehicle {
    justify-content: space-around;
  }
  
  .header__nav-vehicle a {
    font-size: 1.4vw;
  }

}