.slide {
  position: relative;
}

.slide__figure img {
  display: block;
  width: 100%;
}

.prev {
  position: absolute;
  left: 3%;
  top: 40%;
  color: white;
  opacity: 0.5;
  font-size: 10vw !important;
}

.next {
  position: absolute;
  right: 5%;
  top: 40%;
  color: white;
  opacity: 0.5;
  font-size: 10vw !important;
}